$viryYellow : #fad453;
$viryGreen : #135a3b;
$viryGrey : #929292;

@font-face {
    font-family : "Aeroblade DEMO";
    src: url("../fonts/Aeroblade\ DEMO.ttf")
}
@font-face {
    font-family : "Business";
    src: url("../fonts/Business.otf")
}
@font-face {
    font-family : "Hamberger-Bold";
    src: url("../fonts/Hamberger-Bold.ttf")
}
@font-face {
    font-family : "Hangout";
    src: url("../fonts/Hangout.ttf")
}
@font-face {
    font-family : "Hangout3D";
    src: url("../fonts/Hangout3D.ttf")
}
@font-face {
    font-family : "Internets";
    src: url("../fonts/Internets.otf")
}
@font-face {
    font-family : "Rubellion Script Free";
    src: url("../fonts/Rubellion\ Script\ Free.ttf")
}
@font-face {
    font-family : "Speeday-Bold-FFP";
    src: url("../fonts/Speeday-Bold-FFP.ttf")
}
@font-face {
    font-family : "Speeday-Regular-FFP";
    src: url("../fonts/Speeday-Regular-FFP.ttf")
}
@font-face {
    font-family : "Subtle Curves Italic";
    src: url("../fonts/Subtle\ Curves.ttf")
}
@font-face {
    font-family : "Subtle Curves";
    src: url("../fonts/Subtle\ Curves\ Italic.ttf")
}